
@inject BookStore.Repository.IBookRepository _bookRepository
<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to  My interactive Bookstore</h1>
        <p class="lead text-muted">This is my Favourite place,where i enjoy a lot.What about You? Feeling bored let garb a cup of coffee and do some fun by Reading</p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search Books</a>
        </p>
    </div>
</section>
<div class="py-5 bg-light">
    <div class="container">
        <h3 class="h3">Top Books that you must read</h3>
       <vc:top-books count="3"></vc:top-books>
        @*<big>Top Books  Big Tag</big>
        <p big>Top Books  using Big Attribute</p>*@
    </div>
</div>
@section script{
    <script>
       // $(document).ready(() => alert("Page is ready!!!!!!!!!!!!!!!!!!!!"));
    </script>
}



