
<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to  My interactive Bookstore</h1>
        <p class="lead text-muted">This is my Favourite place,where i enjoy a lot.What about You? Feeling bored let garb a cup of coffee and do some fun by Reading</p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search Books</a>
        </p>
    </div>
</section>
<div class="py-5 bg-light">
    <div class="container">
        <h3 class="h3">Top Books that you must raed</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" height="225" width="100%" src="~/images/books-to-read-2021-Pinterest.jpg" />
                    <div class="card-body">
                        <p class="card-text">The books of 2021 that everyone must read. Hurry up 20% off!!!!!Clik Now on this image to buy</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View Details</a>
                            </div>
                            <small class="text-muted">By Nikole</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" height="225" width="100%" src="~/images/M02302021053-source.jpg" />
                    <div class="card-body">
                        <p class="card-text">The books of 2021 that everyone must read. Hurry up 20% off!!!!!Clik Now on this image to buy</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View Details</a>
                            </div>
                            <small class="text-muted">By Layman</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" height="225" width="100%" src="~/images/books-to-read-2021-twitter.jpg" />
                    <div class="card-body">
                        <p class="card-text">The books of 2021 that everyone must read. Hurry up 20% off!!!!!Clik Now on this image to buy</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View Details</a>
                            </div>
                            <small class="text-muted">By Hayman</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section script{
    <script>
       // $(document).ready(() => alert("Page is ready!!!!!!!!!!!!!!!!!!!!"));
    </script>
}



