
@{
    Layout = "_Layout";
}
<section class="jumbotron text-center" >
    <div class="container">
        <h1>Welcome to  My interactive Bookstore</h1>
        <p class="lead text-muted">This is my Favourite place,where i enjoy a lot.What about You? Feeling bored let garb a cup of coffee and do some fun by Reading</p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search Books</a>
        </p>
    </div>
</section>
<div class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  
                    <div class="card-body"></div>
                </div>
            </div>
            <div class="col-md-4">
                <p>Lol conatiner 2</p>
            </div>
            <div class="col-md-4">
                <p>Lol conatiner 2</p>
            </div>
            <div class="col-md-4">
                <p>Lol conatiner 2</p>
            </div>
        </div>
    </div>
</div>
   
    

