
body {
    background-color:aqua;
}
section.jumbotron.text-center {
    background-color:papayawhip
}
.footer{
    position:relative;
    top:auto;
    width:100%;
    white-space:nowrap;
    bottom:0px;
    line-height:60px;
}

