<footer class="footer border-top text-center text-muted">
    <div class="container">Copyright&copy; Bookstore @DateTime.Now.Year</div>
    @*<custom-email my-email="hhjj@gmail.com"></custom-email>*@
</footer>
